[*.cs]

# IDE0059: Unnecessary assignment of a value
csharp_style_unused_value_assignment_preference = discard_variable:silent

# IDE0019: Use pattern matching
csharp_style_pattern_matching_over_as_with_null_check = true:silent
